.bar{
    display: flex;
   
}

input::placeholder{
    text-align: center;
}

input{
    position: relative;
    right: 7px;
    box-shadow: none;
}
input::selection{
    border: 0px;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
     background-color: rgba(0, 0, 0, 0); 
}