@font-face{
    font-family: 'Source Sans Pro';
    src: url(/src/Assests/Fonts/SourceSansPro-Regular.ttf);
  }
  @font-face{
    font-family: 'El Messiri';
    src: url(/src/Assests/Fonts/elmessiri-regular.otf);
  }
.footer{
   left: 0px;
   bottom: 0px;
   position: absolute;
   width: 100%;
   height: 381px;
   top:4100px;
   background: #252525;
   color: aliceblue;
}
 .footer p {
position: absolute;
width: 122px;
height: 28.74px;
left: 120px;
top: 125px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
} 

.footer sup {
 position: absolute;
width: 250px;
height: 57.48px;
left: 120px;
top: 214px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
}


.lg1{
    position: absolute;
width: 229px;
height: 56.52px;
left: 61px;
top: 40px;
}
.phn1{
    
position: absolute;
width: 40px;
height: 38.32px;
left: 70px;
top: 140px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
}
.loc1{
position: absolute;
width: 40px;
height: 38.32px;
left: 70px;
top: 210px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
}
.fb{
    position: absolute;
    left: 70px;
    top: 300px;
}

.inst{
    position: absolute;
    left: 130px;
    top: 300px;
}

.twit{
    position: absolute;
    left: 190px;
    top: 300px;
}

.utube{
    position: absolute;
    left: 250px;
    top: 300px;
}
.mid {

position: absolute;
left: 480px;
top:15px;
}
.mid h3{
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}

.mid span{
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.right1{
    position: absolute;
 left: 680px;
 top:15px;

}
.right1 h3  {

    font-family: 'El Messiri';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
}
.right1 span{

    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.last{
    position: absolute;
    left: 890px;
}
.last h3{
    font-family: 'El Messiri';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 150%;
}
.mail1{
height: 15px;
width: 300px;
padding: 10px;
border-radius: none;
border-style: none;
background-color:#FFFFFF33;
border-radius: 4px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.mail1::placeholder{
color: aliceblue;
}
.submit{
height: 40px;
width: 320px;
color: black;
background-color: #FFC701;
border-style: none;
border-radius: 4px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
}
.divin{  
    margin-top: 310px;
    width: 100%;
}
.center h6 {
margin-top: 5px;    
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

@media (min-width:320px) and (max-width:425px) {

    .footer{
    
       position: absolute;
       height: 960px;
       top:7500px;
       background: #252525;
       color: aliceblue;
    }
    .footer p {
        position: absolute;
        left: 80px;
        top: 100px;
        font-size: 14px;

        } 
        
        .footer sup {
         position: absolute;
        width: 230px;
        left: 80px;
        top: 170px;
        font-size: 14px;

        }

        .lg1{
            position: absolute;
        width: 210px;
        height: 50px;
        left: 50px;
        top: 20px;
        }
        .phn1{
            
        position: absolute;
        width: 30px;
        height: 28px;
        left: 40px;
        top: 110px;
        }
        .loc1{
        position: absolute;
        width: 30px;
        height: 28px;
        left: 40px;
        top: 170px;

        }
        .fb{
            position: absolute;
            left: 40px;
            top: 230px;
            width: 30px;
            height: 28px;
        }
        
        .inst{
            position: absolute;
            left: 90px;
            top: 230px;
            width: 30px;
            height: 28px;
        }
        
        .twit{
            position: absolute;
            left: 140px;
            top: 230px;
            width: 30px;
            height: 28px;
        }
        
        .utube{
     position: absolute;
     left: 190px;
     top: 230px;
     width: 30px;
     height: 28px;
}
        .mid {

    position: absolute;
    left: 40px;
    top:260px;
    }
    .mid h3{
        font-size: 18px;
    }
    .right1{
        position: absolute;
     left: 40px;
     top:520px;
    
    }
    .right1 h3  {
    
    font-size: 18px;
    }
    .right1 span{
    
        font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    }
    .last{
        position: absolute;
        left: 40px;
        top: 740px;
    }
    .last h3{
        width: 210px;
        font-size: 18px;

    }
    .mail1{
    height: 15px;

    width: 210px;
    }

    .submit{
    height: 40px;
    width: 230px;
  
    }
    .divin{  
        margin-top: 890px;
        width: 100%;
    }
    .center h6 {
    margin-top: 5px;     
    font-size: 10px;
    }

}

@media (min-width:750px) and (max-width:800px) {

    .footer{
    
       position: absolute;
       height: 620px;
       top:5420px;
       background: #252525;
       color: aliceblue;
    }
    .footer p {
        position: absolute;
        left: 80px;
        top: 99px;
        font-size: 16px;
        } 
        
        .footer sup {
         position: absolute;
        width: 230px;
        left: 80px;
        top: 174px;
        font-size: 16px;
        }

        .lg1{
            position: absolute;
        width: 210px;
        height: 50px;
        left: 50px;
        top: 20px;
        }
        .phn1{
            
        position: absolute;
        width: 30px;
        height: 28px;
        left: 40px;
        top: 110px;
        }
        .loc1{
        position: absolute;
        width: 30px;
        height: 28px;
        left: 40px;
        top: 170px;

        }
        .fb{
            position: absolute;
            left: 40px;
            top: 260px;
            width: 30px;
            height: 28px;
        }
        
        .inst{
            position: absolute;
            left: 90px;
            top: 260px;
            width: 30px;
            height: 28px;
        }
        
        .twit{
            position: absolute;
            left: 140px;
            top: 260px;
            width: 30px;
            height: 28px;
        }
        
        .utube{
     position: absolute;
     left: 190px;
     top: 260px;
     width: 30px;
     height: 28px;
}
     .mid {

    position: absolute;
    left: 440px;
    top:10px;
    }
    .right1{
        position: absolute;
     left: 40px;
     top:310px;
    
    }
    .right1 h3  {
    
        font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    }
    .right1 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    }
    .last{
        position: absolute;
        left: 440px;
        top: 310px;
    }
    .last h3{
        width: 210px;
    }
    .mail1{
    height: 15px;
    width: 220px;
    }

    .submit{
    height: 40px;
    width: 240px;
  
    }
    .divin{  
        margin-top: 550px;
        width: 100%;
    }
    .center h6 {
    margin-top: 1px;    
    }

}

@media (min-width:1000px) and (max-width:1024px) {



    .footer{
    
        position: absolute;
        height: 390px;
        top:4420px;
        background: #252525;
        color: aliceblue;
     }


.lg1{
    margin-top: -16px;
    margin-left: -28px;
}

.phn1{
    margin-left:-44px;
}
.loc1{
    margin-left:-44px;
}

.footer p{
    left: 80px;
}

.footer sup{
    left: 80px;
}

.fb{
    left: 20px;
}

.inst{
    left: 80px;
   
}

.twit{
    left: 140px;
   
}

.utube{
left: 200px;

}

.mid{
    left: 340px;

}

.right1{
    left: 500px;
}

.last{
    left: 650px;
}














}

