.Apart-aminities{
    margin-top: 10vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 20%;
    column-gap: 10%;
}
.aminities{
display: flex;
    }

.data{
    position: relative;
    left: 1vw;
    top: 1.2vh;
    font-weight: 500;
}

  /*------------------------------------------------------media queries------------------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Apart-aminities{
        margin-top: 10vh;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: auto;
        row-gap: 5%;
        justify-content: center;
    }
  }